<h1>Welcome to the Longest Word Game!</h1>
<% start_time = Time.now %>
<div class="container" style="display: flex;">
  <% @letters.each do |letter| %>
  <div style="margin: 5px; padding: 5px; border: 1px solid black;">
    <%= letter %>
  </div>
  <% end %>
</div>
<form action="/score" method="post">
  <div class="form-group" style="margin-top: 50px;">
    <%= hidden_field_tag :time, Time.now - start_time %>
    <%= hidden_field_tag :grid, @letters %>
    <label>Type the word</label>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word" class="form-control" style="width: 500px;"  placeholder="Enter word">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
